{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":315.4765625,"scrollleft":0,"selection":{"start":{"row":6,"column":12},"end":{"row":6,"column":12},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":20,"state":"start","mode":"ace/mode/text"}},"timestamp":1559304306054,"hash":"07a561b96662e50f0c6f3022deeb561b897a84d4"}